<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>github</id>
			<username>mgm3746</username>
			<password>&#103;&#104;&#112;&#95;&#114;&#101;&#54;&#65;&#55;&#65;&#89;&#74;&#75;&#102;&#70;&#103;&#85;&#104;&#104;&#51;&#120;&#81;&#56;&#48;&#80;&#116;&#89;&#112;&#48;&#69;&#49;&#55;&#53;&#70;&#52;&#88;&#108;&#82;&#49;&#65;</password>
		</server>
	</servers>
</settings>