<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>github</id>
			<username>mgm3746</username>
			<password>&#103;&#104;&#112;&#95;&#50;&#97;&#110;&#73;&#105;&#105;&#115;&#120;&#85;&#84;&#99;&#68;&#77;&#121;&#74;&#71;&#89;&#49;&#50;&#72;&#118;&#66;&#69;&#102;&#48;&#86;&#84;&#101;&#110;&#52;&#51;&#75;&#51;&#100;&#108;&#116;</password>
		</server>
	</servers>
</settings>